@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Delete result";
    var deletedPersonName = HttpContextAccessor?.HttpContext?.Session.GetString("DeletePersonName") ?? "[unknown person]";
}

<h2 class="display-4 text-center">Person @deletedPersonName was removed from the list successfully!</h2>